
#pallets{
color:#ff9297;
color:#fa7876;
color:#ff533d;
color:#f6423c;
color:#c21c16; 
color:#51E800;
color:#3FCB07;
color:#21B200;
color:#0E7E04;
color:#0B6805;
}

#pallets{
    color:#eb5f66;
    color:#ce4745;
    color:#be3624;
    color:#aa140f; 
    color:#800c08;
    color:#3ea507;
    color:#2d9205;
    color:#177203;
    color:#095a02;
    color:#064102;
    }